<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Kuvelo Demo</title>
    <meta name="description" content="Kuvelo Demo">
    <meta name="author" content="Uter">

    <link rel="stylesheet" type="text/css" href="/static/vendor/semantic/dist/semantic.min.css">
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/semantic/dist/semantic.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="app">

<div class="utercontainer" style="padding-top: 20px;" ng-controller="messageDetailCtrl">

    <h1 class="ui center aligned header">Demo Detailseite</h1>

    <div class="ui container" >
        <form class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name" ng-model="message.name">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="description" placeholder="Description" ng-model="message.description">
            </div>
            <button class="ui button red" ng-click="delete()">Delete</button>
            <button class="ui button green" ng-click="save()">Save</button>
        </form>
    </div>

    <div class="ui left icon action input">
        <div class="ui teal labeled icon button" ng-click="home()">
            Home
            <i class="add icon"></i>
        </div>
    </div>

</div>

<script src="/static/vendor/angular/angular.min.js"></script>
<script src="/static/vendor/angular-route/angular-route.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>