<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Kuvelo Demo</title>
    <meta name="description" content="Kuvelo Demo">
    <meta name="author" content="Uter">

    <link rel="stylesheet" type="text/css" href="/vendor/semantic/dist/semantic.min.css">
    <script src="/vendor/semantic/dist/semantic.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<script src="/vendor/angular/angular.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>