<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Kuvelo Demo</title>
    <meta name="description" content="Kuvelo Demo">
    <meta name="author" content="Uter">

    <link rel="stylesheet" type="text/css" href="/static/vendor/semantic/dist/semantic.min.css">
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/semantic/dist/semantic.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="utercontainer" style="padding-top: 20px;" ng-app="app">

    <h1 class="ui center aligned header">Demo</h1>



    <div class="ui container" ng-controller="messageCtrl">

        <div class="ui center aligned basic segment">
            <div class="ui left icon action input">
                <div class="ui teal labeled icon button" ng-click="createMessage()">
                    Create Message
                    <i class="add icon"></i>
                </div>
            </div>
            <div class="ui horizontal divider">
                Messages
            </div>

            <div class="ui stackable four column grid">
                <div class="column" ng-repeat="message in messages">
                    <a class="ui card" href="/details/{{message.cid}}">
                        <div class="content">
                            <div class="header">{{message.name}}</div>
                            <div class="meta">{{message.details}}</div>
                            <div class="description">
                                {{message.description}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/vendor/angular/angular.min.js"></script>
<script src="/static/vendor/angular-route/angular-route.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>